<div id="alerta" class="alert alert-dismissible alert-warning my-5" *ngIf="!listProductos.length">
  <h4 class="alert-heading">Sin inventario</h4>
</div>

<div id="tabla" class="container my-5" *ngIf="listProductos.length">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody *ngFor="let producto of listProductos" >

      <tr *ngIf="producto.estatus">
          <td  id="descripcion">
            {{ producto.descripcion }}
          </td>
          <td id="precio">
            {{ producto.precio | currency }}
          </td>
          <td id="cantidad">
            {{ producto.cantidad }}
          </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm mx-1" (click)="editState(producto)" *ngIf="producto.estatus">
            Editar
          </button>
          <button type="submit" class="btn btn-danger btn-sm mx-1" (click)="eliminar(producto.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-12 my-2" *ngIf="editProductoFlag">
    <form [formGroup]="formEdit" (ngSubmit)="editProducto()">
        <input class="col-3 mx-1" type="text" id="editDescripcion" formControlName="descripcion">
        <input class="col-3 mx-1" type="text" id="editPrecio" formControlName="precio">
        <input class="col-3 mx-1" type="text" id="editCantidad" formControlName="cantidad">
        <button type="submit" class="btn btn-danger btn-sm mx-1" (click)="editProducto()">Editar</button>
        <button type="button" class="btn btn-danger btn-sm mx-1" (click)="change()">Cancelar</button>
    </form>
</div>

<div class="col-12 my-2" *ngIf="addProductoFlag">
  <form [formGroup]="formAdd" (ngSubmit)="addProducto()">
      <input class="col-3 mx-1" type="text" name="descripcion" placeholder="Descripcion" formControlName="descripcion">
      <input class="col-3 mx-1" type="text" name="precio" placeholder="Precio" formControlName="precio">
      <input class="col-3 mx-1" type="text" name="cantidad" placeholder="Cantidad" formControlName="cantidad">
      <button type="submit" class="btn btn-danger btn-sm mx-1">Agregar</button>
      <button type="button" class="btn btn-danger btn-sm mx-1" (click)="addProductoFlag = !addProductoFlag">Cancelar</button>
  </form>
</div>

<div class="input-group">
  <input name="productoInput" type="text" class="form-control" placeholder="Buscar producto..." aria-label="Producto"
    [(ngModel)]="productoBuscado" (keyup)="filtrarProductos()">
  <button class="btn btn-primary" type="submit" (click)="addProductoFlag = !addProductoFlag">Agregar nuevo producto</button>
</div>
