<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="formMember" (ngSubmit)="createUser()">
              <h1>Point</h1>
              <p class="text-body-secondary">Unete a tu equipo</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <i class="bi-person"></i>
                </span>
                <input autoComplete="name" cFormControl placeholder="Nombre" formControlName="nombre"/>
                @if (nombre.touched && nombre.dirty && nombre.errors?.required) {
                  <div class="d-flex justify-content-center alert alert-danger w-100 p-2 m-0">
                    Ingresa tu nombre
                  </div>
                  }
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <i class="bi-at"></i>
                </span>
                <input autoComplete="correo" cFormControl placeholder="Correo" type="email" formControlName="correo"/>
                @if (correo.touched && correo.dirty && correo.errors?.required) {
                  <div class="d-flex justify-content-center alert alert-danger w-100 p-2 m-0">
                    Ingresa tu correo
                  </div>
                  }
                  @if (correo.touched && correo.value && correo.errors?.email) {
                  <div class="d-flex justify-content-center alert alert-danger w-100 p-2 m-0">
                    Correo no valido
                  </div>
                  }
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <i class="bi-lock"></i>
                </span>
                <input autoComplete="password" cFormControl placeholder="Contraseña" type="password" formControlName="contrasenia"/>
                @if (contrasenia.touched && contrasenia.dirty && contrasenia.errors?.required) {
                  <div class="d-flex justify-content-center alert alert-danger w-100 p-2 m-0">
                    Ingresa tu contraseña
                  </div>
                  }
                  @if (contrasenia.errors?.minlength || contrasenia.errors?.maxlength) {
                  <div class="d-flex justify-content-center alert alert-danger w-100 p-2 m-0">
                    La contraseña debe tener de 8 a 12 caracteres
                  </div>
                  }
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <i class="bi-lock"></i>
                </span>
                <input autoComplete="password" cFormControl placeholder="Confirmar contraseña" type="password" formControlName="confContrasenia"/>
                @if (formMember.errors?.PasswordNoMatch && confContrasenia.value) {
                  <div class="d-flex justify-content-center alert alert-danger w-100 p-2 m-0">
                    La contraseña no coincide
                  </div>
                    }
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" type="submit" [disabled]="!formMember.valid">Crear cuenta</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
