<h3 class="mb-4 fw-semibold">
  Recuperar contraseña
</h3>
<form [formGroup]="formForgotPwd" (ngSubmit)="forgotPwd()" class="auth-form">
  <div class="form-floating mb-2">
    <input type="email" id="correo" placeholder="Correo" class="form-control" formControlName="correo">
    <label for="correo">Correo</label>
  </div>
  <div class="text-danger small text-center mb-2" *ngIf="(correo.touched && correo.dirty && correo.errors?.required)">
    Ingresa tu correo electronico
  </div>
  <div class="text-danger small text-center mb-3" *ngIf="(correo.touched && correo.value && correo.errors?.email)">
    Correo electronico no valido
  </div>
  <button type="submit" class="btn btn-primary w-100 mb-3" [disabled]="!formForgotPwd.valid">Ingresar</button>
</form>
<p class="text-center small">
  ¿Ya tienes una cuenta? <a [routerLink]="['../sign-in']">Iniciar sesión</a>
</p>
