<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="formForgotPwd" (ngSubmit)="forgotPwd()">
              <h1>Point</h1>
              <p class="text-body-secondary">Recuperar contraseña</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <i class="bi-at"></i>
                </span>
                <input autoComplete="correo" cFormControl placeholder="Correo" type="email" formControlName="correo" />
                @if (correo.touched && correo.dirty && correo.errors?.required) {
                <div class="d-flex justify-content-center alert alert-danger w-100 p-2 m-0">
                  Ingresa tu correo
                </div>
                }
                @if (correo.touched && correo.value && correo.errors?.email) {
                <div class="d-flex justify-content-center alert alert-danger w-100 p-2 m-0">
                  Correo no valido
                </div>
                  }
                  </c-input-group>
                  <div class="d-grid">
                    <button cButton color="success" type="submit" [disabled]="!formForgotPwd.valid">Recuperar</button>
                  </div>
            </form>
            <p>
              ¿Ya tienes una cuenta?
              <a [routerLink]="['../sign-in']">Iniciar sesión</a>
            </p>
          </c-card-body>
          </c-card>
          </c-col>
          </c-row>
          </c-container>
          </div>
