<div id="carouselExampleAutoplaying" class="carousel slide h-100 d-flex align-items-center" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="d-flex justify-content-center ">
    </div>
    <div class="carousel-item active">
      <div class="d-flex justify-content-center">
        <p>Terry</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <p>Terry</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <p>Terry</p>
      </div>
    </div>
  </div>
</div>
