
.point-layout {
  display: flex;
  height: 100vh;
}

.point-sidenav {
  width: 220px;
  background-color: var(--point-primary-color);
  color: #fff;
}

.point-sidenav nav {
  width: 100%;
}

main {
  overflow-y: auto;
}

@media (max-width: 767.98px) {
  .point-layout {
    flex-direction: column;
  }
  .point-sidenav {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  main {
    padding-bottom: 3.5rem;
  }
}
