<div class="py-5 px-0 mx-0 h-100">

  <h3 class="d-flex align-items-center p-0 m-0" style="height: 10%">Hola, {{ identity_user.nombre }} </h3>

  <div class="row p-0 m-0" style="height: 90%;">

    <div class="row col-8 p-0 m-0">
      <div class="row h-50 w-100 p-0 m-0">
        <div class="col text-center p-4 m-2 bg-primary opacity-75" style="border-radius: 1em;">
          <p> Ventas del dia </p>
        </div>
        <div class="col text-center p-4 m-2 bg-primary opacity-75" style="border-radius: 1em;">
          <p> 2 </p>
        </div>
        <div class="col text-center p-4 m-2 bg-primary opacity-75" style="border-radius: 1em;">
          <p> 3 </p>
        </div>
      </div>

      <div class="h-50 row p-0 m-0">
        <div class="col text-center p-4 m-2 bg-primary opacity-75" style="border-radius: 1em;">
          <p> 4 </p>
        </div>
      </div>

    </div>

    <div class="col text-center p-4 m-2 bg-primary opacity-75" style="border-radius: 1em;">
      <p> Cards </p>
    </div>
  </div>
</div>
