<div class="container-md row mx-auto p-1 h-100">

  <div class="row col-12 col-md-10 card bg-primary m-auto">
    <div>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-10">
          <div>
            <h6>Hola,</h6>
          </div>
          <div>
            <h2>
              {{ identityUser.nombre }}
            </h2>
          </div>
        </div>
        <div class="col-2 p-0 m-0">
          <img class="rounded-circle"
            src="https://img.freepik.com/vector-premium/imagen-perfil-avatar-hombre-ilustracion-vectorial_268834-538.jpg?size=338&ext=jpg&ga=GA1.1.1880011253.1705190400&semt=ais"
            style="width: 3rem; height: 3rem;">
        </div>
      </div>
    </div>
  </div>

  <div class="row col-12 col-md-10 card bg-primary p-0 m-auto my-1 d-flex justify-content-center"
    *ngIf="(identityUser.rol == 10)">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active p-0 m-0">
          <div class="card-header">Tus ventas hoy</div>
          <div class="card-body d-flex justify-content-center">
            <h5 class="p-0 m-0">
              {{ total_ventas | currency }}
            </h5>
          </div>
        </div>

        <div class="carousel-item p-0">
          <div class="card-header">El mejor vendedor hoy</div>
          <div class="card-body d-flex justify-content-evenly">
            <h5 class="p-0 m-0">
              {{ (vendedor?.usuario.nombre || "Sin ventas") }}
            </h5>

            <p class="p-0 m-0">
              {{ (vendedor?.total || 0) | currency }}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div role="button" *ngFor="let permiso of identityUser.permisos" class="col-12 col-md-3 card bg-primary my-1"
    [routerLink]=permiso.slug>
    <div class="card-header">{{ permiso.acceso | titlecase }}</div>
    <div class="card-body p-0">
      {{ permiso.body }}
    </div>
  </div>

  <div class="overflow-y-auto p-0" style="max-height: min-content;">
    <div role="button" *ngFor="let notificacion of notificaciones" class="card bg-primary h-auto my-1"
      data-bs-toggle="modal" data-bs-target="#notificacion" (click)="not(notificacion)">
      <div class="card-body text-center">{{ notificacion.categoria.descripcion | titlecase }}</div>
    </div>
  </div>

  <app-modal-noficacion [notificacion]="notificacion"></app-modal-noficacion>

</div>
