<div class="py-5 px-0 mx-0 h-100">

  <div class="row card bg-primary p-0 mx-1 m-0">
    <div class="">
      <div class="row d-flex justify-content-center align-items-center p-0 m-0">
        <div class="col-10 p-0 m-0">
          <div>
            <h6>Hola,</h6>
          </div>
          <div>
            <h2>
              {{ identityUser.nombre }}
            </h2>
          </div>
        </div>
        <div class="col-2 p-0 m-0">
          <img class="rounded-circle"
            src="https://img.freepik.com/vector-premium/imagen-perfil-avatar-hombre-ilustracion-vectorial_268834-538.jpg?size=338&ext=jpg&ga=GA1.1.1880011253.1705190400&semt=ais"
            style="width: 3rem; height: 3rem;">
        </div>
      </div>
      </div>
  </div>

  <!-- *ngIf="(identityUser.rol == 10)" -->

  <div class="row card bg-primary p-0 mx-1 my-3" [routerLink]="['/user/ventas']">
    <div class="card-header">Ventas</div>
    <div class="card-body">
      <h5>
        Tus ventas hoy {{ total_ventas | currency }}
      </h5>
    </div>
  </div>

  <div class="row my-0 mx-0">

    <div class="card bg-primary col mx-1">
      <div class="card-header">Mi equipo</div>
      <div class="card-body">
        <h5 class="card-title">Mas ventas Terry</h5>
      </div>
    </div>

    <div class="card bg-primary col mx-1">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
      </div>
    </div>

  </div>

  <div class="row mx-0 my-3">

    <div class="card bg-primary col mx-1">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
      </div>
    </div>

    <div class="card bg-primary col mx-1">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
      </div>
    </div>

  </div>


</div>
