<div class="container h-100" style="border: solid;">

  <div class="tab h-75 pt-5 px-5 text-center">
    <table class="table table-hover table-striped" style="border-radius: 1em; overflow: hidden;">
      <thead>
        <tr class="table-info">
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let producto of ventaProductos">
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" (click)="cantidadVenta(1, producto)">+</button>
              <button type="button" class="btn btn-danger btn-sm mx-1" (click)="eliminar(producto)">Eliminar</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="cantidadVenta(-1, producto)">-</button>
            </td>
          </tr>
          </tbody>
    </table>
    <div style="margin: 10% 0;">
      <div class="alert alert-dismissible alert-info m-5 py-5" *ngIf="!ventaProductos.length">
        <strong>Vende!</strong> Escanea tus productos.
      </div>
    </div>
  </div>

  <div class="px-5">
    <form (ngSubmit)='agregarProducto(item)'>
      <div class="input-group">
        <input name="productoInput" type="text" class="form-control" placeholder="Buscar producto..." aria-label="Producto"
          [(ngModel)]="productoBuscado" (keyup)="getProductos()">
        <button class="btn btn-primary" type="submit">Agregar</button>
      </div>
    </form>
  </div>

  <div class="tab px-5" style="height: 15%;">
    <table class="table table-hover tab" style="border-radius: 1em;">
      <tbody>
        <tr *ngFor="let item of listProductos" class="table-dark" (click)="selectProducto(item)">
          <td>{{ item.descripcion }}</td>
          <td>{{ item.precio }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
