.tab {
  overflow-y: scroll;
}

.tab::-webkit-scrollbar {
  width: .1rem;
}

.tab::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 100%, 0.4);
  border-radius: .5rem;
}


.input-cantidad {
  width: 3rem;
  text-align: center;
  background: none;
  border: none;
}

.max-stock {
  border: 2px solid red;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  opacity: 1;
  margin: 0;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
