<div class="container-fluid h-100">

  <app-modal-editproducto-venta class="d-md-none" [producto]="producto" (editEvent)="eliminar(producto)"></app-modal-editproducto-venta>

  <div class="container-fluid tab h-75 pt-5 px-0 text-center">
    <table class="table table-hover table-striped align-middle" style="border-radius: 1em; overflow: hidden;">
      <thead>
        <tr class="table-info">
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th class="d-xs-none"></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let producto of ventaProductos" [attr.data-bs-toggle]="modal" data-bs-target="#editProducto" (click)="editProducto(producto)">
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio | currency }}</td>
            <td>{{ producto.cantidad }}</td>
            <td class="d-xs-none">
              <button type="button" class="btn btn-primary btn-sm" (click)="cantidadVenta(1, producto)">
                <span class="material-symbols-outlined">
                  add
                </span>
              </button>
              <button type="button" class="btn btn-danger btn-sm mx-1" (click)="eliminar(producto)">
              <span class="material-symbols-outlined">
                delete
              </span>
              </button>
              <button type="button" class="btn btn-primary btn-sm" (click)="cantidadVenta(-1, producto)">
                <span class="material-symbols-outlined">
                  remove
                </span>
              </button>
            </td>
          </tr>
          </tbody>
    </table>
    <div class="container-lg" style="margin: 10% 0;">
      <div class="alert alert-dismissible alert-info m-0 py-5" *ngIf="!ventaProductos.length">
        <strong>Vende!</strong> Escanea tus productos.
      </div>
    </div>
  </div>

  <div class="w-100 d-flex p-0 my-2 justify-content-evenly align-items-center">
    <button class="btn btn-primary" [attr.disabled]="isDisabledVender" (click)="venta()" type="button">Vender</button>
    <span>Total</span>
    <span>{{ total | currency }}</span>
  </div>

  <div class="container-lg">
    <form (ngSubmit)='agregarProducto(item)'>
      <div class="input-group">
        <input name="productoInput" type="text" class="form-control input-group" placeholder="Buscar producto..." aria-label="Producto"
          [(ngModel)]="productoBuscado" (keyup)="getProductos()">
          <button class="btn btn-primary btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#scanBarcode" (click)="camaraEstatus()">
            <span style="color: white; border-right: 1px white;" class="material-symbols-outlined">barcode_scanner</span>
          </button>
        <button class="btn btn-primary" [attr.disabled]="isDisabledAgregar" type="submit">Agregar</button>
      </div>
    </form>
  </div>

  <app-modal-scan-barcode [camara]="camara" (scanEvent)="scan($event)"></app-modal-scan-barcode>

  <div class="tab container-lg" style="height: 15%;">
    <table class="table table-hover tab" style="border-radius: 1em;">
      <tbody>
        <tr *ngFor="let item of listProductos" class="table-dark" (click)="selectProducto(item)">
          <td>{{ item.descripcion }}</td>
          <td>{{ item.precio }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
