
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.login-card {
  max-width: 26rem;
  width: 100%;
}

.password-toggle {
  border: none;
  background: transparent;
  cursor: pointer;
  user-select: none;
  padding: 0;
}
