<div class="d-flex justify-content-center align-items-center h-100 p-0 m-0">

  <div class="container" style="max-width: 540px;">
    <h1>
      Point
    </h1>
    <h3>
      Inicia sesión con tu cuenta
    </h3>
    <p style="opacity: .8;">
      Bienvenido de vuelta
    </p>

    <form [formGroup]="formSignIn" (ngSubmit)="signIn()" class="">
      <input type="email" placeholder="Correo" class="form-control mb-3" formControlName="correo">
      <div class="d-flex justify-content-center alert alert-danger w-100 p-2 mb-3"
        *ngIf="(correo.touched && correo.dirty && correo.errors?.required)">
        Ingresa tu correo electronico
      </div>
      <div class="d-flex justify-content-center alert alert-danger w-100 p-2"
        *ngIf="(correo.touched && correo.value && correo.errors?.email)">
        Correo electronico no valido
      </div>

      <input type="password" placeholder="Contraseña" class="form-control mb-3" formControlName="contrasenia">
      <div class="d-flex justify-content-center alert alert-danger w-100 p-2 mb-3"
        *ngIf="(contrasenia.dirty && contrasenia.touched && contrasenia.errors?.required)">
        Ingresa tu contraseña
      </div>

      <div class="d-flex justify-content-end mb-3">
        <a [routerLink]="['../forgot-password']">¿Olvidaste tu contraseña?</a>
      </div>
      <button type="submit" class="btn btn-primary w-100 mb-3" [disabled]="!formSignIn.valid">Ingresar</button>
    </form>
    <p class="center">
      ¿No tienes una cuenta? <a [routerLink]="['../sign-up']">Crear una cuenta</a>
    </p>
  </div>

</div>
