<div class="modal fade" id="addProducto" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">Agregar producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cleanForm()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAdd" (ngSubmit)="addProducto()">
          <div class="d-flex row justify-content-center">
            <div class="form-floating p-0 m-0 my-1">
              <input class="form-control" type="text" id="floatingDescripcion" placeholder="Descripcion" formControlName="descripcion">
              <label for="floatingDescripcion">Descripcion</label>
            </div>
            <div class="form-floating p-0 m-0 my-1">
              <input class="form-control" type="number" id="floatingPrecio" placeholder="Precio" formControlName="precio">
              <label for="floatingPrecio">Precio</label>
            </div>
            <div class="form-floating p-0 m-0 my-1">
              <input class="form-control" type="number" id="floatingCantidad" placeholder="Cantidad" formControlName="cantidad">
              <label for="floatingCantidad">Cantidad</label>
            </div>
            <div class="form-floating input-group p-0 m-0 my-1">
              <input class="form-control" type="text" id="floatingCodigo" placeholder="Codigo" formControlName="codigo">
              <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#scanBarcode" (click)="camaraEstatus()">
                <span class="material-symbols-outlined">barcode_scanner</span>
              </button>
              <label for="floatingCodigo">Codigo</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="h-100 btn btn-danger btn-sm mx-1" data-bs-dismiss="modal">Agregar</button>
            <button type="button" class="h-100 btn btn-danger btn-sm" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-modal-scan-barcode [camara]="camara" (scanEvent)="scan($event)"></app-modal-scan-barcode>
