.menu-responsive {
  height: 100vh;
  overflow-y: auto;
}

.material-symbols-outlined {
  font-size: 2rem;
  margin: auto .5em;
}

@media (max-width: 767.9px) {
  .menu-responsive {
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1020;
  }
  .material-symbols-outlined {
    font-size: 1.75rem;
    margin: auto .6em;
  }
}

.active {
  background-color: rgba(var(--bs-primary-rgb), 0.2);
}
