.menu-responsive {
  height: 100%;
}

.material-symbols-outlined {
  font-size: 2rem;
  margin: auto .5em;
}

@media (max-width: 767.9px) {
  .menu-responsive {
    height: auto;
    position: fixed;
    /* z-index: 9999; */
    bottom: 0;
    right: 0;
  }
  .material-symbols-outlined {
    font-size: 1.75rem;
    margin: auto .6em;
  }
}
