<div class="d-flex align-items-center justify-content-evenly p-1 bg-dark-subtle w-100 flex-md-column menu-responsive">

  <div class="overflow-hidden text-nowrap" style="max-width: 3rem;">
    <span class="py-2">{{ identityUser.nombre }}</span>
  </div>

  <div class="d-flex flex-md-column justify-content-evenly">
    <div>
      <a [routerLink]="['/point/home']" class="py-2 list-group-item mx-md-0">
        <span class="material-symbols-outlined">home</span>
      </a>
    </div>

    <div>
      <a [routerLink]="['/point/inventario']" class="py-2 list-group-item mx-md-0">
        <span class="material-symbols-outlined">store</span>
      </a>
    </div>

    <div>
      <a [routerLink]="['/user/home']" class="py-2 list-group-item mx-md-0">
        <div>
          <span class="material-symbols-outlined">
            <div>
              person
            </div>
          </span>
          <span *ngIf="count"
            class="position-absolute translate-middle badge bg-danger rounded-circle"
            style="top: 25%; left: 75%; height: 30%; width: 30%; font-size: .6rem;">
            {{ count }}
          </span>
        </div>
      </a>
    </div>
  </div>

  <div class="py-2 list-group-item" (click)="logout()">
    <a href="/auth/log-in" style="color: inherit;">
      <span class="material-symbols-outlined">
        logout
      </span>
    </a>
  </div>

</div>
