<div class="d-flex flex-column flex-shrink-0 bg-body-tertiary justify-content-between align-items-center h-100">

  <div class="d-block p-3 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
    <span>Point</span>
  </div>
  <div>
    <ul class="flex-column mb-auto text-center list-group" style="list-style: none">

      <li class="">
        <a [routerLink]="['/point/home']" class="nav-link py-3 border-bottom rounded-0 list-group-item" data-bs-placement="right">
          <span class="material-symbols-outlined">home</span>
        </a>
      </li>

      <li class="">
        <a [routerLink]="['/point/inventario']" class="nav-link py-3 border-bottom rounded-0 list-group-item" data-bs-placement="right">
          <span class="material-symbols-outlined">store</span>
        </a>
      </li>

      <li class="">
        <a [routerLink]="['/user/home']" class="nav-link py-3 border-bottom rounded-0 list-group-item" data-bs-placement="right">
          <div>
            <span class="material-symbols-outlined">
              <div>
                groups
              </div>
            </span>
            <span class="position-absolute translate-middle badge bg-danger rounded-circle" style="top: 25%; left: 75%; height: 25%; width: 25%; font-size: .5rem;">
              5
            </span>
          </div>
        </a>
      </li>

    </ul>
  </div>

  <div class="dropup border-top">
    <a class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="material-symbols-outlined">person</span>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <a class="dropdown-item">Hola</a>
      <li><hr class="dropdown-divider"></li>
      <li (click)="logout()"><a class="dropdown-item">Cerrar sesión</a></li>
    </ul>
  </div>

</div>
