<div class="card text-white text-center bg-warning mt-3 flex" style="width: auto; height: auto; padding: none;">
  <div class="card-header">Inventario</div>
  <div class="card-body">
    <!-- <h4 class="card-title">Dark card title</h4> -->
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>
</div>
<div class="card text-white text-center bg-success mt-3 flex" style="width: auto; height: auto; padding: none;">
  <div class="card-header">Equipo</div>
  <div class="card-body">
    <!-- <h4 class="card-title">Dark card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>
</div>
<div class="card text-white text-center bg-danger mt-3 flex" style="width: auto; height: auto; padding: none;">
  <div class="card-header">Venta</div>
  <div class="card-body">
    <!-- <h4 class="card-title">Dark card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>
</div>
<div class="card text-white text-center bg-info mt-3 flex" style="width: auto; height: auto; padding: none;">
  <div class="card-header">Otros</div>
  <div class="card-body">
    <!-- <h4 class="card-title">Dark card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>
</div>

<div class="card text-white text-center bg-info mt-3 flex" style="width: auto; height: auto; padding: none;">
  <div class="card-header">{{ categoria }}</div>
  <div class="card-body">
    <!-- <h4 class="card-title">{{ titulo }}</h4>
    <p class="card-text">{{ descripcion }}</p> -->
  </div>
</div>
