
:host {
  display: block;
}

.auth-wrapper {
  max-width: 900px;
  border-radius: 1rem;
  overflow: hidden;
}

.auth-carousel {
  background-color: var(--point-primary-color);
  color: #fff;
}

@media (max-width: 576px) {
  .d-xs-none {
    display: none;
  }
}
