:root {
  /* Light theme */
  --point-bg-primary: #f5f7fa;
  --point-primary-color: #2c7be5;
  --point-secondary-color: #9ad5e6;
  --point-primary-text: #212529;
  --point-secondary-text: #6c757d;
  --point-success-color: #198754;
  --point-warning-color: #ffc107;
  --point-danger-color: #dc3545;

  --point-rgb-bg-primary: rgb(245, 247, 250);
  --point-rgb-primary-color: 44, 123, 229;
  --point-rgb-secondary-color: rgb(154, 213, 230);
  --point-rgb-primary-text: rgb(33, 37, 41);
  --point-rgb-secondary-text: rgb(108, 117, 125);
  --point-rgb-success-color: rgb(25, 135, 84);
  --point-rgb-warning-color: rgb(255, 193, 7);
  --point-rgb-danger-color: rgb(220, 53, 69);

  /* Boostrap */
  --bs-body-bg: var(--point-bg-primary);
  --bs-primary-rgb: var(--point-rgb-primary-color);
  --bs-body-color: var(--point-primary-text);
}
