<div class="row justify-content-center align-items-center p-0 m-0" style="height: 100vh;">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
  <div class="col bg-primary container h-100 d-flex justify-content-center align-items-center">

    <div id="carouselExampleSlidesOnly" class="carousel slide h-50 d-flex justify-content-center align-items-center" data-bs-ride="carousel">
      <div>
        <h5>Point</h5>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <p>Some representative placeholder content for the first slide.</p>
        </div>
        <div class="carousel-item">
          <p>Some representative placeholder content for the first slide.</p>
        </div>
        <div class="carousel-item">
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    </div>

  </div>
</div>
