<div class="modal fade" id="scanBarcode" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">Escanear codigo de barras</h5> {{ camara }}
        <button id="cerrarScan" type="button" class="btn-close" data-bs-target="#addProducto" data-bs-toggle="modal" aria-label="Close" (click)="camaraEstatus()"></button>
      </div>
      <div class="modal-body">
        <zxing-scanner
        *ngIf="camara"
        (scanSuccess)="scanSuccessHandler($event)"
        [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"
        >
        </zxing-scanner>
    </div>
  </div>
</div>
