<h3 class="mb-4 fw-semibold">
  Ingresa una nueva contraseña
</h3>
<form [formGroup]="formRestorePwd" (ngSubmit)="restorePwd()" class="auth-form">
  <div class="form-floating mb-2">
    <input type="email" id="correo" placeholder="Correo" class="form-control" formControlName="correo">
    <label for="correo">Correo</label>
  </div>
  <div class="text-danger small text-center mb-2" *ngIf="(correo.touched && correo.dirty && correo.errors?.required)">
    Ingresa tu correo electronico
  </div>
  <div class="text-danger small text-center mb-2" *ngIf="(correo.touched && correo.value && correo.errors?.email)">
    Correo electronico no valido
  </div>
  <div class="form-floating mb-2">
    <input type="password" id="contrasenia" placeholder="Nueva contraseña" class="form-control" formControlName="contrasenia">
    <label for="contrasenia">Nueva contraseña</label>
  </div>
  <div class="text-danger small text-center mb-2" *ngIf="(contrasenia.touched && contrasenia.dirty && contrasenia.errors?.required)">
    Ingresa tu contraseña
  </div>
  <div class="text-danger small text-center mb-2" *ngIf="(contrasenia.errors?.minlength || contrasenia.errors?.maxlength)">
    La contraseña debe tener de 8 a 12 caracteres
  </div>
  <div class="form-floating mb-2">
    <input type="password" id="confContrasenia" placeholder="Confirmar contraseña" class="form-control" formControlName="confContrasenia">
    <label for="confContrasenia">Confirmar contraseña</label>
  </div>
  <div class="text-danger small text-center mb-3" *ngIf="(formRestorePwd.errors?.PasswordNoMatch && confContrasenia.value)">
    La contraseña no coincide
  </div>
  <button type="submit" class="btn btn-primary w-100" [disabled]="!formRestorePwd.valid">Ingresar</button>
</form>
