<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="formRestorePwd" (ngSubmit)="restorePwd()">
              <h1>Point</h1>
              <p class="text-body-secondary">Ingresa una nueva contraseña</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <i class="bi-at"></i>
                </span>
                <input autoComplete="correo" cFormControl placeholder="Correo" type="email" formControlName="correo"/>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <i class="bi-lock"></i>
                </span>
                <input autoComplete="password" cFormControl placeholder="Contraseña" type="password" formControlName="contrasenia"/>
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <i class="bi-lock"></i>
                </span>
                <input autoComplete="password" cFormControl placeholder="Confirmar contraseña" type="password" formControlName="confContrasenia"/>
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" type="submit" [disabled]="!formRestorePwd.valid">Restaurar contraseña</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
