<div class="container-lg h-100">

  <div class="p-0 m-0" style="height: 80%;">
    <div class="tab container-lg pt-5 px-0 text-center">
      <table class="table table-hover table-striped" style="border-radius: 1em; overflow: hidden;">
        <thead>
          <tr class="table-info">
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th></th>
          </tr>
        </thead>

        <tbody *ngFor="let producto of listProductos">

          <tr *ngIf="producto.estatus">
            <td>
              {{ producto.descripcion }}
            </td>
            <td>
              {{ producto.precio | currency }}
            </td>
            <td>
              {{ producto.cantidad }}
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm mx-1" (click)="editState(producto)" *ngIf="producto.estatus">
                <span class="material-symbols-outlined">
                  edit
                </span>
              </button>
              <button type="submit" class="btn btn-danger btn-sm mx-1" (click)="eliminar(producto.id)">
                <span class="material-symbols-outlined">
                  delete
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="margin: 10% 0;">
      <div class="alert alert-dismissible alert-warning m-5 py-5" *ngIf="!listProductos.length">
        <h5><strong>Sin inventario.</strong></h5> Agrega productos a tu inventario.
      </div>
    </div>

  </div>

  <div class="mx-5">

    <div *ngIf="editProductoFlag">
      <form [formGroup]="formEdit" (ngSubmit)="editProducto()">
        <div class="d-flex">
          <input class="form-control" type="text" formControlName="descripcion">
          <input class="mx-1 form-control" type="number" formControlName="precio">
          <input class="form-control" type="number" formControlName="cantidad">
          <div class="d-flex">
            <button type="submit" class="btn btn-danger btn-sm mx-1">Editar</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="change()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="addProductoFlag">
      <form [formGroup]="formAdd" (ngSubmit)="addProducto()">
        <div class="d-flex">
          <input class="form-control" type="text" placeholder="Descripcion" formControlName="descripcion">
          <input class="mx-1 form-control" type="number" placeholder="Precio" formControlName="precio">
          <input class="form-control" type="number" placeholder="Cantidad" formControlName="cantidad">
          <div class="d-flex">
            <button type="submit" class="h-100 btn btn-danger btn-sm mx-1">Agregar</button>
            <button type="button" class="h-100 btn btn-danger btn-sm"
            (click)="addProductoFlag = !addProductoFlag">Cancelar</button>
          </div>
        </div>
      </form>
    </div>

  </div>

  <div class="input-group px-5">
    <input name="productoInput" type="text" class="form-control" placeholder="Buscar producto..." aria-label="Producto"
      [(ngModel)]="productoBuscado" (keyup)="filtrarProductos()">
    <button class="btn btn-primary" type="submit" (click)="changeAddProductoFlag()">Agregar nuevo producto</button>
  </div>

</div>
