<div class="container-md h-100">

  <div class="container-fluid tab pt-3 px-0 text-center" style="height: 75%;">
    <table class="table table-hover table-striped align-middle" style="border-radius: 1em; overflow: hidden;">
      <thead>
        <tr class="table-info">
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th style="width: 10em;"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let producto of listProductos">
          <td class="overflow-x-hidden text-nowrap" style="max-width: 1em;">
            {{ producto.descripcion | titlecase }}
          </td>
          <td>
            {{ producto.precio | currency }}
          </td>
          <td>
            {{ producto.cantidad }}
          </td>
          <td>
            <div class="d-flex row p-0 m-0">
              <button type="button" class="btn btn-primary btn-sm mx-sm-1 resposive-button" data-bs-toggle="modal"
                data-bs-target="#editProducto" (click)="setEditProducto(producto)">
                <span class="material-symbols-outlined">
                  edit
                </span>
              </button>
              <button type="submit" class="btn btn-danger btn-sm mx-sm-1 resposive-button"
                (click)="eliminar(producto.id)">
                <span class="material-symbols-outlined">
                  delete
                </span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="alert alert-warning my-5" *ngIf="!listProductos.length">
      <h5><strong>Sin inventario.</strong></h5> Agrega productos a tu inventario.
    </div>

  </div>

  <app-modal-editproducts [producto]=producto (reloadGetEvent)="reloadGetEvent()"></app-modal-editproducts>

  <app-modal-addproducts (reloadGetEvent)="reloadGetEvent()"></app-modal-addproducts>

  <div class="input-group container-fluid">
    <input name="productoInput" type="text" class="form-control" placeholder="Buscar producto..." aria-label="Producto"
      [(ngModel)]="productoBuscado" (keyup)="filtrarProductos()">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProducto">
      Agregar producto
    </button>
  </div>
</div>
