<div id="tabla" class="container my-5">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <tr class="table-active" *ngFor="let producto of ventaProductos">
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click)="cantidadVenta(1, producto)">+</button>
            <button type="button" class="btn btn-danger btn-sm mx-1" (click)="eliminar(producto)">Eliminar</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="cantidadVenta(-1, producto)">-</button>
          </td>
        </tr>
        </tbody>
  </table>
</div>

  <div class="alert alert-dismissible alert-info my-5 py-5" *ngIf="!ventaProductos.length">
    <strong>Heads up!</strong> This, but it's not super important.
  </div>

<form (ngSubmit)='agregarProducto(item)'>
  <div class="input-group">
    <input name="productoInput" type="text" class="form-control" placeholder="Buscar producto..." aria-label="Producto"
      [(ngModel)]="productoBuscado" (keyup)="getProductos()">
    <button class="btn btn-primary" type="submit">Agregar</button>
  </div>
</form>

<table class="table table-hover">
  <tbody>
    <tr *ngFor="let item of listProductos" class="table-info" (click)="selectProducto(item)">
      <td>{{ item.descripcion }}</td>
      <td>{{ item.precio }}</td>
    </tr>
  </tbody>
</table>
